@import url("../node_modules/@shoelace-style/shoelace/dist/themes/light.css");

:not(:defined) {
  visibility: hidden;
}

:root {
  font-family: var(--sl-font-sans);
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-x-large);
  font-weight: var(--sl-font-weight-semibold);
}

rr-face-basic {
  width: 25rem;
}

sl-card h1[slot="header"] {
  margin-block: 0;
}

sl-card {
  max-width: 50rem;
}
